attached_assets/822748463-كتاب-ناصر-عبد-الكريم-للتحصيلي_1789011713747.pdf filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-37.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-41.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:58:40_1790661521742.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-19_01:35:24_1790721325327.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_9648_1790721327055.MOV filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-E66E3D08-DE54-46DB-AB08-A3FEAF982E38_1790717840395.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/شرح_العمليات_الحسابيه_1_mp4_@btt0bot_mp4_@btt0bot_1790005825502.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-23.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-32.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-40.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-47.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/operations.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:08:07_1790010488115.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:42:16_1790660537828.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_18:06:57_1790694418088.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-28.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-38.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-39.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:07:50_1790010471660.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:59:07_1790553548252.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_5743_1790661943152.MP4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_9653_1790721695530.MOV filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-5EEF4115-0EAB-4648-92D3-D059A38FCF07_1790661948345.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-05.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-08.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-19.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-26.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-33.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/ratio-proportion.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:08:05_1790010486116.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/مقطع_50بعد_1790721362796.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-07.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/mixed-ideas.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/percentage.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:58:34_1790661515608.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_9648_1790721693474.MOV filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-6087CA3C-7B85-48FC-A222-967C7813221C_1790717835527.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/المنصف_في_القدرات_أفضل_منصة_تدريب_على_اختبار_القدرات4_mp4_@btt_1790006401227.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-02.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-45.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/equations.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:42:11_1790660532042.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/مقطع_49_بعد_التعديل_1790721332105.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/مقطع_49_بعد_التعديل_1790721697597.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-31.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:07:55_1790010476596.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:58:31_1790661513702.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_18:06:58_1790694419387.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-6087CA3C-7B85-48FC-A222-967C7813221C_1790661160460.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/المنصف_في_القدرات_أفضل_منصة_تدريب_على_اختبار_القدرات3_mp4_@btt_1790006686000.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-04.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-06.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-34.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-43.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:07:47_1790010468773.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:08:09_1790010490689.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:42:12_1790660533628.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:58:43_1790661523985.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-03.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-48.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:42:09_1790660530624.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_18:06:55_1790694416593.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-0C60F0EF-6F91-497E-869E-9E6DD322826A_1790717841891.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-CF6E4735-A12D-4117-92C0-461701D5F827_1790717833937.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/افكار_متنوعه.mp4_@btt0bot.mp4_@btt0bot_1790007215453.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/المنصف_في_القدرات_أفضل_منصة_تدريب_على_اختبار_القدرات1_mp4_@btt_1790006148168.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-09.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-17340075-88F3-4D6E-A580-55E0A3E2EE2C_1790661950835.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-44.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/statistics.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:58:27_1790553509081.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:58:52_1790553533664.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/مقطع_50بعد_1790721705140.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-29.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-35.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-36.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:07:53_1790010474257.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:59:09_1790553551340.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:42:05_1790660527626.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-5EEF4115-0EAB-4648-92D3-D059A38FCF07_1790717400891.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/المنصف_في_القدرات_أفضل_منصة_تدريب_على_اختبار_القدرات2_mp4_@btt_1790006904410.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:59:12_1790553553715.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:58:49_1790553531013.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_5742_1790661940451.MP4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-9B9342DD-7DA5-4333-915F-2B34A7C42008_1790717837684.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-46.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-49.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-10_20:07:57_1790010479448.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-17_02:58:39_1790553520609.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_18:07:01_1790694422161.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_5742_1790717396469.MP4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-17340075-88F3-4D6E-A580-55E0A3E2EE2C_1790717411478.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-27.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-50.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_18:07:02_1790694423474.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-19_01:41:31_1790721691943.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-17340075-88F3-4D6E-A580-55E0A3E2EE2C_1790661152037.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-56DD8CC2-5990-42EF-9F6F-8899270B1242_1790661946712.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/video-output-56DD8CC2-5990-42EF-9F6F-8899270B1242_1790717399449.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-42.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/FILE_1448-04-18_08:58:44_1790661525499.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/IMG_5743_1790717397819.MP4 filter=lfs diff=lfs merge=lfs -text
artifacts/qodratak/public/foundation/quantitative/computer-banks/computer-bank-30.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/.شرح_العمليات_الحسابيه_1_mp4_@btt0bot_mp4_@btt0bot_(1)_1790005447399.mp4.V8bFqA13rV2BV2uRhkEIw~ filter=lfs diff=lfs merge=lfs -text
